modelling/ckpt
modelling/data
modelling/animation
modelling/__pycache__/
log
first_collection
modelling/base_ckpt/
modelling/ckpt_may/
modelling/data_may/
modelling/log_may/
modelling/models/__pycache__/gp_model.cpython-38.pyc
modelling/trajectories/
second_collection/
second_collection_corrected/
second_collection_slower/
test_cs/
sampling/data/

*.svg